
body {
  margin: 0;
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a{
  text-decoration: none;
  color: #000;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.mt-5{
  margin-top: 15px;
}
.mb-5 {
  margin-bottom: 15px;
}
.mb-10{
  margin-bottom: 30px;
}
.pt-5 {
  padding-top: 15px;
}
.pb-10 {
  padding-bottom: 30px;
}
.text-left{
  text-align: left;
}
.card {
  width: 48%;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  transition: all 150ms;
  &:hover{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 150ms;
  }
  .title {
    background-color: #536dfe;
    color: #fff;
    padding: 15px;
    line-height: 1.33;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .0125em;
    text-transform: uppercase;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content{
    padding: 15px;
    text-align: left;
    border: 1px solid #eaecef;
    border-top: none;
    border-radius: 0 0 5px 5px;
    height: 100px;
  }
}

@media (max-width: 775px) {
  .card{
    width: 100%;
    .title{
      height: auto;
    }
    .content{
      height: auto;
    }
  }
}
